.container{
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.icon{
    margin-left: 30px;
}

.btn{
    cursor: pointer;
    padding: 1.6rem;
    width: 80%;
    justify-content: center;
    margin: auto;

}

#imprimible{
   display: none; 
}